p{
    font-family:sans-serif;
    color:#3f3f3f;
}

#awesomeText {
    font-family:'Times New Roman'. Georgia. Serif;
}

.soft{
    color:#a8a8a8;
}

.center{
    text-align:center;
}

.container{
    margin:0 auto;
}

.black{
    background-color:black;
}

.lblue{
    background-color:#99D3FF;
}

.dblue{
    background-color:#003A66;
}

.lpurple{
    background-color:#C59CED;
}

.dpurple{
    background-color:#2C0D4A;
}

.dgreen{
    background-color:#3E5C0C;
}

.lgreen{
    background-color:#98E220;
}

.gray{
    background-color:#7F7F7F;
}

#header{
    background-color:gray;
    border-radius:10px;
    margin-top:10px;
    margin-bottom:10px;
    padding-bottom:10px;
}

#content1{
    border-radius:10px;
    padding:10px;
    margin-bottom:25px;
}

#content2{
    border-radius:10px;  
    padding:10px; 
}

#content3{
    border-radius:10px;
}

#content4{
    border-radius:10px;
}

img .imgsmall{
    width:00px;
}

.evenw{
    width:150px;
}

.blackt{
    color:black;
}













































